<ion-header>
  <ion-toolbar>
    <ion-title>Alteração de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input
        type="text"
        placeholder="Digite seu RA"
        inputmode="ra"
        autofocus="true"
        [(ngModel)]="usuario.Ra"
      ></ion-input>
    </ion-item>
    <!--Caso use o e-mail pra mandar a senha, utilizar o campo de RA e e-mail pra saber pra quem mandar-->
    <ion-item>
      <ion-icon name="at-outline" slot="start"></ion-icon>
      <ion-input placeholder="Digite seu e-mail" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <div id="enviaSenha">
      <ion-button fill="clear" (click)="enviarSenha()">Solicitar nova senha</ion-button>
    </div>
    <div id="btnHome">
      <ion-button expand="clear" (click)="home()">Voltar para Home</ion-button>
    </div>
  </div>
</ion-content>
