ion-content {
  #enviaSenha {
    width: 100%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

ion-content {
  #btnHome {
    width: 100%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
