ion-content {
  #avatar {
    width: 30%;
    height: 30%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

#atualiza {
  width: 100%;
  display: float;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#nsenha {
  width: 100%;
  display: float;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#encerrac {
  width: 100%;
  display: float;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#voltar {
  width: 100%;
  display: float;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
