<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div id="avatar">
      <img
        src="https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_960_720.png"
        alt="Avatar"
        class="avatar"
      />
    </div>

    <div>
      <ion-button id="btnfoto" expand="block" fill="clear">Alterar Foto</ion-button>
    </div>
  </ion-item>
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input type="text" placeholder="nome" inputmode="nome" autofocus="true" [(ngModel)]="usuario.Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input
      type="text"
      placeholder="sobrenome"
      inputmode="sobrenome"
      autofocus="true"
      [(ngModel)]="usuario.Sobrenome"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input
      type="text"
      placeholder="email"
      inputmode="email"
      autofocus="true"
      [(ngModel)]="usuario.Email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="phone-portrait" slot="start"></ion-icon>
    <ion-input
      type="number"
      placeholder="Numero de Telefone:"
      inputmode="numero"
      [(ngModel)]="usuario.NumeroTelefone"
    ></ion-input>
  </ion-item>
  <div id="atualiza">
    <ion-button fill="clear" (click)="atualizarInformacoes()">Atualizar</ion-button>
  </div>
<div id="nsenha">
  <ion-button fill="clear" (click)="solicitarnovasenha()">Solicitar nova senha</ion-button>
  </div>
<div id="encerrac">
  <ion-button fill="clear" (click)="atualizarInformacoes()">Encerrar a conta</ion-button>
  </div>
<div id="voltar">
  <ion-button fill="clear" (click)="notificacoes()">Retornar</ion-button>
  </div>
</ion-content>
