ion-content {
  #btnFinalizar {
    width: 100%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

ion-content {
  #btnVoltar {
    width: 100%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
