<ion-content padding>
  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input type="name" placeholder="Nome" autofocus="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Confirme a Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input type="email" placeholder="Email" inputmode="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-checkbox color="terciary" slot="start"></ion-checkbox>
    <ion-label>Concordo com os <a>termos de uso</a></ion-label>
  </ion-item>

  <ion-button expand="block">Cadastrar</ion-button>
</ion-content>
