<ion-content padding>
  <ion-list>
    <ion-radio-group [(ngModel)]="grupo">
      <ion-row>
        <ion-list-header>
          <ion-label>Escolha seu perfil:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio color="success" value="perfilCarona" checked></ion-radio>
          <ion-label>Somente carona</ion-label>
        </ion-item>

        <ion-item>
          <ion-radio mode="md" color="tertiary" value="perfilMotorista"></ion-radio>
          <ion-label>Motorista e carona</ion-label>
        </ion-item>
      </ion-row>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input type="name" [(ngModel)]="usuario.Nome" placeholder="Nome" autofocus="true"></ion-input>
    <ion-input type="sobrenome" [(ngModel)]="usuario.Sobrenome" placeholder="Sobrenome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" [(ngModel)]="usuario.Senha" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" [(ngModel)]="usuario.ConfirmacaoSenha" placeholder="Confirme a Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input type="email" [(ngModel)]="usuario.Email" placeholder="Email" inputmode="email"></ion-input>
  </ion-item>

  <!--Necessário ligar com o banco!-->

  <ion-item>
    <ion-icon name="phone-portrait" slot="start"></ion-icon>
    <ion-input type="text" maxlength="11" [(ngModel)]="usuario.Celular" placeholder="Numero de Telefone:"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input type="text" [(ngModel)]="usuario.Ra" placeholder="RA" inputmode="ra"></ion-input>
  </ion-item>

  <div *ngIf="grupo=='perfilMotorista'">
    <div id="modeloC">
      <ion-item>
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-input
          type="text"
          [(ngModel)]="usuario.Modelo"
          placeholder="Modelo do carro"
          inputmode="modelocar"
        ></ion-input>
      </ion-item>
    </div>

    <div id="placaV">
      <ion-item>
        <ion-icon name="square" slot="start"></ion-icon>
        <ion-input
          type="text"
          [(ngModel)]="usuario.Placa"
          placeholder="Placa do veíclulo:"
          inputmode="placa"
        ></ion-input>
      </ion-item>
    </div>

    <div id="cores">
      <ion-item>
        <ion-label>Cor do veículo</ion-label>
        <ion-select value="Azul" [(ngModel)]="usuario.Corcarro" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="azul">Azul</ion-select-option>
          <ion-select-option value="amarelo">Amarelo</ion-select-option>
          <ion-select-option value="branco">Branco</ion-select-option>
          <ion-select-option value="cinza">Cinza</ion-select-option>
          <ion-select-option value="preto">Preto</ion-select-option>
          <ion-select-option value="prata">Prata</ion-select-option>
          <ion-select-option value="cinza">Verde</ion-select-option>
          <ion-select-option value="vermelho">Vermelho</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <ion-item>
    <input type="checkbox" color="terciary" slot="start" [(ngModel)]="usuario.ConcordaComTermos" />
    <ion-label>Concordo com os <a>termos de uso</a></ion-label>
  </ion-item>
  <div id="btnFinalizar">
    <ion-button fill="clear" (click)="finalizarCadastro()">Cadastrar</ion-button>
  </div>
  <div id="btnVoltar">
    <ion-button fill="clear" (click)="home()">Retornar</ion-button>
  </div>
</ion-content>
