<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="8" class="ion-align-items-start " style="margin-top: 2px">
        <ion-title>Solicitações</ion-title>
      </ion-col>
      <ion-col size="4">
        <ion-row class="ion-align-items-end ">
          <a style="font-size: 27px; position: relative; left: 60px;top: 3px;" (click)="dismissModal()">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </a>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="card-viagem" *ngFor="let viagem of listaEndereco">

    <ion-card-content>
      <ion-row class="destino-origem row-p0 col-p0">
        <ion-col size="12">
          <ion-row>Este carona está solicitando participar de sua viagem, deseja aceitar ?</ion-row>
          <ion-row>
            <ion-col size="12" style="margin-top: 5px">
              <h4>
                <ion-icon name="person-circle-outline"></ion-icon> {{viagem.carona.nome}}
              </h4>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center acao-viagem">
            <ion-col size="12">
              <ion-col size="6">
                <ion-button class="btn1" size="small" color="success" (click)="aceitarSolicitacao(viagem)">
                  <ion-icon name="thumbs-up-sharp"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button size="small" color="danger">
                  <ion-icon name="thumbs-down-sharp" (click)="recusarSolicitacao(viagem)"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-col>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>