<ion-header>
  <ion-toolbar>
    <ion-title>Status da Carona</ion-title>
    <ion-buttons slot="end">
        <ion-button class="btn" (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
  <ion-list>
   
    <ion-card *ngFor="let valorEndereco of listaEndereco">

        <ion-list>
          <ion-item class="img" *ngFor="let item of items">
            <ion-thumbnail slot="start">
              <ion-img [src]="item.src"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{item.texto}}</h2>
              <h2>{{item.status}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        
          <ion-card class="info-carona">
            <h4><ion-icon name="location-outline"></ion-icon> {{valorEndereco.viagem.pontoFinal}}</h4>
            <h4><ion-icon name="person-circle-outline"></ion-icon> {{valorEndereco.carona.nome}}</h4>
            <h4><ion-icon name="alarm-outline"></ion-icon> {{valorEndereco.viagem.dataViagem}}</h4>
          </ion-card>
        
      <ion-button class="btn1" size="small" color="success" (click)="aceitarSolicitacao(valorEndereco)"><ion-icon name="thumbs-up-sharp"></ion-icon></ion-button>
      <ion-button size="small" color="danger"><ion-icon name="thumbs-down-sharp" (click)="recusarSolicitacao(valorEndereco)"></ion-icon></ion-button>

    </ion-card>
  
  </ion-list>
</div>
</ion-content>