<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Caronas</ion-title>
  </ion-toolbar>
</ion-header>
<div id="menu">
  <ion-button id="atual" expand="block">Minhas Caronas</ion-button>
  <ion-button id="antigo" expand="block">Meu Histórico</ion-button>
</div>

<div id="mapa"></div>

<ion-button id="oferecer" expand="block">Oferecer uma carona</ion-button>
<ion-button id="procurar" expand="block">Procurar uma carona</ion-button>
<ion-button id="procurar" expand="block" (click)="irParaMeuPerfil()">Editar Perfil</ion-button>

<ion-content> </ion-content>
