<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="backgroud">
  <ion-item *ngIf="showCorridaEmAndamento">
    <ion-row > 
      <ion-col size="6"  >
        <ion-button (click)="showModal()"expand="block" fill="clear" shape="round">
          <ion-icon name="car-sport-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        Corrida em andamento
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>






<!-- <ion-icon name="caret-forward-circle-outline"></ion-icon> -->