<ion-header>
  <ion-toolbar>
    <ion-title>Alterar informações do veículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [formGroup]="form">
    <div id="modeloC">
      <ion-item>
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-input type="text" formControlName="modelo" placeholder="Modelo do carro" inputmode="modelocar">
        </ion-input>
      </ion-item>
    </div>

    <div id="placaV">
      <ion-item>
        <ion-icon name="square" slot="start"></ion-icon>
        <ion-input type="text" formControlName="placa" placeholder="Placa do veíclulo:" inputmode="placa"></ion-input>
      </ion-item>
    </div>

    <div id="cores">
      <ion-item>
        <ion-label>Cor do veículo</ion-label>
        <ion-select value="Azul" formControlName="corcarro" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="azul">Azul</ion-select-option>
          <ion-select-option value="amarelo">Amarelo</ion-select-option>
          <ion-select-option value="branco">Branco</ion-select-option>
          <ion-select-option value="cinza">Cinza</ion-select-option>
          <ion-select-option value="preto">Preto</ion-select-option>
          <ion-select-option value="prata">Prata</ion-select-option>
          <ion-select-option value="cinza">Verde</ion-select-option>
          <ion-select-option value="vermelho">Vermelho</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


<div id="btnAtualizar">
  <ion-button fill="clear" (click)="atualizarInformacoes()" >Cadastrar </ion-button>
</div>
<div id="btnVoltar">
  <ion-button fill="clear" (click)="home()">Retornar</ion-button>
</div>


  </div>
</ion-content>
