<ion-app>
  <ion-menu side="start" menuId="first" contentId="principal" *ngIf="this.router.url != '/'">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let item of listaMenu">
          <ion-item *ngIf="item.mostrarMenu" [routerLink]="[item.rota]" routerLinkActive="router-link-active">
            <ion-icon name="{{item.nomeIcon}}" slot="start"></ion-icon>{{item.titulo}}
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logOut()" routerLinkActive="router-link-active">
            <ion-icon name="exit-outline" slot="start"></ion-icon>Sair
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
  <app-mapa-motorista></app-mapa-motorista>
</ion-app>