<ion-content padding>
  <div id="logo">
    <h1 text-align>
      <img src="https://uploaddeimagens.com.br/images/002/681/801/full/logo_blabla.png?1590890763" class="icon-7em" />
    </h1>
  </div>

  <ion-item>
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input
      type="text"
      placeholder="RA"
      inputmode="ra"
      validators.required
      autofocus="true"
      [(ngModel)]="usuario.Ra"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha" [(ngModel)]="usuario.Password"></ion-input>
  </ion-item>

  <div id="login">
    <ion-button fill="clear" (click)="realizarLogin()">Acessar </ion-button>
  </div>

  <div id="criarConta">
    <ion-button fill="clear" (click)="acessarCadastrar()">Criar uma conta</ion-button>
  </div>
  <div id="esqueceuSenha">
    <ion-button fill="clear" (click)="alterarSenha()" color="success">Esqueceu sua senha</ion-button>
  </div>
</ion-content>
