#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-item {
  color: #4682b4;
}

ion-icon {
  color: #3cb371;
}

ion-content {
  #carrinho {
    width: 100%;
    display: float;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
