<ion-header>
  <ion-toolbar>
    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    
    <ion-title>Caronas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let valorEndereco of lista">
          <ion-label>{{valorEndereco.endereco}}</ion-label>
          <ion-label>{{valorEndereco.nome}}</ion-label>
          <ion-label>{{valorEndereco.horario}}</ion-label>
      <ion-button size="small" color="success">Acept</ion-button>
      <ion-button size="small" color="danger">Decline</ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>
